
<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-6 text-center align-self-center">
                <div class="error-page text-center">
                    <div class="error-code">
                        <strong>404</strong>
                    </div>
                    <div class="error-message">
                        <h3>Oops... Page Not Found!</h3>
                    </div>
                    <div class="error-body">
                        Try using the button below to go to main page of the site <br>
                        <a href="<?php echo SITE_DOMAIN. str::HOME_ROUTE ?>" class="btn btn-primary solid blank"><i class="fa fa-arrow-circle-left">&nbsp;</i> Go to Home</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <img class="img-fluid" src="<?php echo THEME_URL ?>/imgs/404.png" alt="">
            </div>
        </div>
        <!-- Main row end -->
    </div>
    <!-- Container end -->
</section>
<!-- Main container end -->
