:root {
    --themeBtnColor: #d20459;
    --themeTextColor: #1B1B1B;
    --themeTextColor2: #d20459;
    --themeColor1: #1B1B1B;
    --themeColor2: #fed925;
    --themeColor3: #d0d2d4;


}
footer .sub-footer {
    background-color: #000000 !important; }
body{
    background: url(/assets/images/bg.png) rgba(255, 255, 255, 0.7) !important;
}
.sub-footer .container{
    background-color: unset !important;
}
.container{
    background-color: #f8f8f8 !important;
}
header.header-2 .nav-icon ul .onhover-div {
    padding: 0 58px 0 0;
}
.category.category-classic .category-wrapper .img-block {
    overflow: visible;
    border-color: transparent;
    padding: 11px;
    /*background-color: rgba(236, 131, 39, 0.1);*/
}

.category.category-classic.bg-grey .category-wrapper .img-block {
    background-color: unset !important;
    height: 100px;
    background: unset;
    border: none;
    padding: 0;
}

.category.category-classic.bg-grey .category-wrapper .img-block img {
   /* height: 100px;*/
    width: 100px;
}

.category .category-wrapper .category-title h5 {
    background-color: unset;
}

.category .slick-slider .slick-list .slick-slide > div {
    margin: 0px;
    position: relative;
}

.category .category-wrapper .category-title h5 {
    display: inline-block;
    text-transform: uppercase;
    color: #1B1B1B;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 15px;
    background-color: #ffffff;
    /* border-radius: 50px; */
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: -3px;
}

/*RadioButton Custom*/
ul.chec-radio {
    margin: 0px;
}

ul.chec-radio li.pz {
    display: inline;
    margin: 0 4px;
}

.chec-radio label.radio-inline input[type="checkbox"] {
    display: none;
}

.chec-radio label.radio-inline input[type="checkbox"]:checked + div {
    color: #fff;
    background-color: #000;
}

.chec-radio .radio-inline .clab {
    cursor: pointer;
    background: #e7e7e7;
    padding: 7px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    position: relative;
    height: 34px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
}

.chec-radio label.radio-inline input[type="checkbox"]:checked + div:before {
    content: "\f00c";
    margin-right: 9px;
    font-family: 'FontAwesome';
}

.chec-radio label.radio-inline input[type="radio"] {
    display: none;
}

.chec-radio label.radio-inline input[type="radio"]:checked + div {
    color: #fff;
    background-color: #1B1B1B;
}

.chec-radio label.radio-inline input[type="radio"]:checked + div:before {
    content: "\f00c";
    margin-right: 9px;
    font-family: 'FontAwesome';
}
/*RadioButton Custom*/

/*RadioButton*/
.form-radio {
    position: relative
}

.radio-inline {
    display: inline-block;
    /*margin-right: 20px;*/
}

.form-radio label {
    position: relative;
    padding-left: 1.5rem;
    text-align: left;
    color: #333;
    display: block;
    line-height: 1.8;
}

.form-radio input {
    width: auto;
    opacity: .00000001;
    position: absolute;
    left: 0;
}

.radio .helper {
    position: absolute;
    top: -.15rem;
    left: -.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.radio .helper::after, .radio .helper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    margin: .25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform .28s ease;
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease, -webkit-transform .28s ease;
    border-radius: 50%;
    border: .125rem solid var(--themeBtnColor);
}

.radio .helper::after {
    transform: scale(0);
    background-color: var(--themeBtnColor);
    border-color: var(--themeBtnColor);
}

.radio label:hover .helper {
    color: var(--themeTextColor2)
}

.radio input:checked ~ .helper::after {
    transform: scale(.5)
}

.radio input:checked ~ .helper::before {
    color: var(--themeTextColor2)
}

/*RadioButton*/

.cart-count {
    display: inline-flex;
    position: absolute;
    /*right: -10px;*/
    top: -9px;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    padding: 4px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    background: var(--themeBtnColor);
    color: #fff;
    border-radius: 1.75em;
    transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    will-change: transform;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 1;
}
/*Chat Detail*/
.chat-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.showChat_inner {
    display: block;
    top: 56px;
    background-color: #fff;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}

.admin-msg {
    float: left;
    width: 80%;
}

.user-msg {
    float: right;
    width: 80%;
}

.chat-menu-content, .chat-menu-reply {
    background: #f3f3f3;
    position: relative;
    overflow: visible;
    border-radius: 4px
}

.chat-menu-content:before {
    position: absolute;
    top: 20px;
    left: -14px;
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right-color: #f3f3f3
}

.chat-menu-reply:before {
    position: absolute;
    top: 20px;
    right: -14px;
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left-color: #f6cdde;
}

.chat-reply-box {
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #ccc
}

.chat-inner-header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 20px
}

.chat-send {
    position: absolute;
    bottom: 5px;
    right: 0;
    border: none;
    background-color: transparent;
    color: #4099ff;
    transform: rotate(45deg)
}

.showChat_inner .chat-messages {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px
}

.chat-menu-content .chat-cont, .chat-menu-reply .chat-cont {
    padding: 10px;
    margin-bottom: 0;
    color: #1b1b1b;
}

.chat-menu-content .chat-time, .chat-menu-reply .chat-time {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #1b1b1b;
}

.right-icon-control {
    position: relative;
    width: 300px;
}

.chat-menu-reply {
    background: #f6cdde;
    color: #fff;
    margin-right: 10px;
}

.right-icon-control input {
    padding: 15px 50px 15px 15px !important;
}

.right-icon-control .form-icon {
    position: absolute;
    top: 9px;
    right: 14px;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--themeBtnColor);
}

.right-icon-control .form-icon i {
    margin-left: 10px;
    margin-top: 10px;
}
.icon-size {
    font-size: 21px;
    color: var(--themeTextColor2);
    font-weight: 600;

}
/*@media (max-width: 991px){
    !*header.header-2 .nav-icon ul .onhover-div .mobile-icon {
        display: block;
        font-size: 18px;
        color: #999999;
    }*!
    header.header-2 .header-top .mobile-icon{
        display: block;
    }
}*/
.brand-logo img{
    height: 80px;
    width: 80px !important;
}

@media (max-width: 991px){
    /*header.header-2 .nav-icon ul .onhover-div .mobile-icon {
        display: block;
        font-size: 18px;
        color: #999999;
    }*/
    header.header-2 .header-top .mobile-icon{
        display: block;
    }
    header .toggle-nav{
        display: none !important;
    }
    .brand-logo{
        left: 25% !important;
    }
    .brand-logo img{
        height: 50px;
        width: 50px !important;
    }
    footer .sub-footer .payment-card-bottom .terms-li{
        display: block;
        margin-bottom: 5px;
    }
    header.header-2 .nav-icon ul .onhover-div {
        padding: 0 5px 0 0 !important;
    }
    .nav-icon{
        width: 100%;
    }
    header.header-2 .content-header .right-section {
        width: 100% !important;
    }
    .cart-count {
        right: -1px;
    }
    header.header-2 .lower-section {
        padding: 0 !important;
    }
    .mobile-fix-header{
        display: none;
    }
    footer {
        margin-bottom: 0px !important;
    }
    .category.category-classic.bg-grey .category-wrapper .img-block{
        height: unset;
    }
}
.mobile-fix-header{
    display: none;
}
#productSpecification table{
    width: 100% !important;
}
#productSpecification table td{
    width: 50% !important;
}



/*Toast*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #d41d36; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 25px; /* Rounded borders */
    opacity: 0.92;
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 250px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 250px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 250px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 250px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 250px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.upper-box {
    margin-left: 20px;
}
.no-arrow .slick-next {
    display: inline-block !important;
    margin: 10px 0 !important;
    top: -31px;
    right: 9px;
}

.no-arrow .slick-prev {
    display: inline-block !important;
    margin: 10px 0 !important;
    top: -31px;
    left: 9px;
}

.no-arrow .slick-prev:after {
    background-color: unset !important;
}