.text-error
{
    color: red;
    font-size: 14px;
}

.skuInput
{
    text-transform:uppercase;
}

.Cancelled {
    color: red;
}

.Delivered {
    color: green;
}

.Dispatch {
color: blue;
}
.Ready_To_Ship {
    color: black;
}
.Packed{
    color: black;
}
.Order_Received {
    color: black;
    font-weight: bold;

}